@media screen and (min-width: 768px) { 
    .notre-block h3 {
        font-size: 40px;
    }
    .notre-block p{
        font-size: 23px;
    }
    .card-body p{
        font-size: 13px;
    }

    .features-block h3{
        font-size: 40px;
    }
    .features-block h4{
        text-align: left;
    }

    .features-block p{
        text-align: left;
    }
    .card-btn{
        margin-left: auto;
    }
    .opinion-block h2 {
        font-size: 40px;
    }
    .opinion-block p{
        font-size: 27px;
    }
    
    .footer p{
        font-size: 14px;
    }
}

@media screen and (min-width: 1100px) {
    .second-card{
        padding-left: 30px;
    }
}