body {
    font-family: 'Istok Web', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #4b3f55;
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    background:#775ba3;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom-color:#f8e1b4;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}
.btn {
    width: 50px;
    height: 50px;
    background:url(../images/ic-user.svg) 0 0 no-repeat;
    background-size:24px ;
    border: none;
    outline: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.modal-content{
    background: #775ba3;
}

.modal-body {
    background:#fff;
}

.btn-bottom {
    background: #775ba3;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.carousel-indicators li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;
    border:2px solid #fff;
    opacity: 1;
}

.carousel-indicators .active {
    width: 16px;
    height: 16px;
    background: #fff;
    margin-top: 2px;
}

.notre-block {
    text-align: center;
    font-weight: bold;
}

.notre-block h3 {
    font-size: 25px;
    color: #775ba3;
    font-weight: bold;
}
.notre-block p{
    font-size: 16px;
    color: #4b3f55;
}

.card{
    height: 100%;
    border: none;
    text-align: left;
}

.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 2px solid #91c5a9;
    box-shadow: 0 1px 0 0 #aec7ba;
}

.card-img img {
    display: inline-block;
}

.card h5{
    text-transform: uppercase;
    color: #91c5a9;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 3px solid #91c5a9;
    box-shadow: 0 1px 0 0 #aec7ba; 
    padding-bottom: 18px; 
}

.card h5 span {
    font-size: 12px;
}

.card-body p{
    font-size: 13px;
    color: #4b3f55;
    font-weight: normal;
}

.btns{
    max-width: 100%;
}

.card-btn{
    display: inline-block;
    width:50%;
    position: relative;
    border: none;
    outline: none;
    margin:0 auto;
}

.card-btn-1::after,
.card-btn-2::after,
.card-btn-3::after,
.card-btn-4::after,
.card-btn-5::after{
    font-family: "Font Awesome 5 Brands";
    color: #fff;
    font-size: 30px;
}

.card-btn-1{
    background: #3b5998;
}

.card-btn-1::after{
    content: "\f39e";
   
}
.card-btn-2{
    background: #d14333;
}
.card-btn-2::after{
    content: "\f0d5";

}
.card-btn-3{
    background: #ea4c88 ;
}

.card-btn-3::after{
    content:"\f17d";
}
.card-btn-4{
    background: #00aced;
}
.card-btn-4::after{
    content: "\f099";
}
.card-btn-5{
    background: #c70c0c;
}
.card-btn-5::after{
    content: "\f431";
}

.features-block{
    background: #775ba3;
    color: #fff;
    font-weight: bold;
}
.features-block h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.features-block h4{
    font-size: 35px;
    text-align: center;
}

.features-block h4 span{
    display: block;
}
.features-block p{
    font-size: 14px;
    text-align: center;
}

.features-btn{
    display: inline-block;
    background: transparent;
    border: 4px solid #fff;
    outline: none;
    color: #fff;
    height: 55px;
    padding: 0 70px;
}
.opinion-block {
    height: 20%;
    border-bottom: 1px solid #91c5a9 
}

.opinion-block h2 {
    font-size: 25px;
    color: #775ba3;
    font-weight: bold;
    text-align: center;
}

.img-wrap{
    display: inline-block;
    border-radius: 50%;
    border: 4px solid #91c5a9;
    padding: 6px;
    position: relative;
}

.img-wrap::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 94%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 11px 12px;
    border-color: transparent transparent #91c5a9 transparent;
    transform: rotate(-60deg);
}
.opinion-block p{
    color: #4b3f55;
    font-size: 17px;
    font-weight: normal;
}

.opinion-block .title{
    position: relative;
}

.opinion-block .title::before {
    content: "";
    position:absolute ;
    background: url(../images/open-ic.png) 0 0 no-repeat;
    width: 23px;
    height: 17px;
    top: 30px;
    left: 0;
}
.opinion-block .title::after {
    content: "";
    position:absolute ;
    background: url(../images/close-ic.png) 0 0 no-repeat;
    width: 23px;
    height: 17px;
    bottom: -30px;
    right: 0;
}

.opinion-block span{
    display: block;
    text-transform: uppercase;
    text-align: right;
    color: #7e63a8;
    font-style: italic;
}

.opinion-block .carousel-indicators li{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;
    border:2px solid #54865d;
    opacity: 1;
}

.opinion-block .carousel-indicators .active {
    width: 16px;
    height: 16px;
    background: #54865d;
    margin-top: 2px;
}

.footer{
    background: #54865d;
}

.footer p{
    color: #fff;
    font-size: 10px;
}


